


*{ 
    margin:0;
    padding: ;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
}

/* durgesh header */
header{
    background-color: aqua;
    padding: 20px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
    width: 100%;

}
header img{
    height: 60  px;
    weight:auto;
}
.a{
    color: Black;
}
.logo{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;

}

li{
    display: inline-block;
}
li a{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-right: 25px;
    cursor: pointer;

}

li a:hover{
    color: red;
   
}
button{
    width: 90px;
    background-color: rgb(167, 69, 69);
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}
button:hover{
    background-color: #373737;

}
body{
    background-color: white;
}

/* durgesh container section */
.seperation{
    height: 3px;
    background-color: white;
}

.container{
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    margin: 10px;
}
.left{
    flex: 1;
    align-items: center;
   padding: 50px;
   margin-top: 50px;/
}
.right{
    text-align: center;

    flex: 1;
}
.right img{
    max-width: 100%;
    height: auto;   
}
.left h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: red;
    
}
.left h2{
    font-size: 80px;
    margin-bottom: 50px;

}
.left p{
    font-size: 20px;
    margin-bottom: 50px;
}

.btn{
    width: 120px;
    background-color: black;
    font-size: 16px;
    font-weight: 100;
    border-radius: 10%;
    cursor: pointer;
     margin-left: 10px;
}


*{
    box-sizing: border-box;
}

/* durgesh first section */



.text{
    padding: 50px;
    margin-right: 120px;
}
.first{
    display: grid;
    /* min-height: 100vh; */
    justify-content: space-between;
    /* margin: 10px; */
    grid-template-columns: 3fr 2fr;

}


.left1{
    display: grid;
    flex-direction:column;
   padding: 50px;
   margin-top: 50px;
   grid-template-columns: repeat(2,1fr);
}
.right1{
    /* text-align: center; */
    margin: 0;
    display: flex;
    /* flex: 1; */
}
.right1 img{
    align-items: right;
    padding: 0;
    width: 100%;
    margin: 0;
}

/* .four{ 
    display: grid;
    text-align: center; 
    

} */

.four img{
    width: 100px;
    height: 100px;
    line-height: 18px;

}
.four h2{
    line-height: 40px;
}


/* durgesh second section */
.second{
   display: grid;
   grid-template-columns: 2fr 3fr;
    /* min-height: 100vh; */
    justify-content: space-between;
    margin: 10px;

}
.image{
    width: 150%;
    display: block;
}
.content{
    padding: 50px;
    margin: 30px;

}
.countsvalue{
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.count{
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    gap: 50px;
    text-align: center;
    
    /* border-color: blue; */
    background-color:rgb(184, 181, 182);
    padding: 30px;

}


.count .or{
    font-size: 40px;
}
.content h2{
    font-size: 4em;
    padding-bottom: 20px;
    

}
.third{
    padding: 20px 0px 40px 10px;
    line-height: 4em;
}
.third h1{
    font-size: 4em;
    

}
.third h2{
    font-size: 2.5em;
    color: green;

}
.third p{
    font-size: 1em;

}

.pricetitle{
    text-align: center;
}


.pricing{
    display: grid; 
    gap: 30px;
    margin: auto;
    padding: 30px;
    line-height: 50px;

    grid-template-columns: repeat(3,1fr);
}
.pricingcard{
    border-radius: 12px;

    border:  1px solid black;
    
    background-color:white ;
    padding:20px;
    box-shadow: #373737;
}
.pricingcard:hover{
    border: 3px solid red;

}

.pricingcard img{
    width: 100px;
    margin-bottom: 20px;
    background: grey;
    border-radius: 50px;

}
.pricingcard .price{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: aqua;
}
.pricingcard ul{
    display: block;
    list-style: none;
    margin-bottom: 15px;
    padding: 0px;

}
.pricingcard li{
    display: block;
    font-size: 20px;
    margin: 10px 0px;
    padding: 0px;
}
.pricingcard li::before{
    content:"+";
    /* position:absolute; */
    border-radius: 50%;
    justify-content: center;
    color: pink;
    background: green;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    height: 25px;
    width: 25px;
    gap: 10px;
}

/* durgesh five */

.titlefile{
    text-align: center;
    padding: 50px;

}
.titlefile h1{
    line-height: 70px;
}
.members{
    display: grid; 
    gap: 30px;
    margin: auto;
    
    padding: 30px;
    align-items: center;
    text-align: center;

    grid-template-columns: repeat(4,1fr);
}
.images{
    border-radius: 12px;

    border:  1px solid grey;
    
    background-color:white ;
    padding:20px;
}
.five{
    background-color: rgb(218, 214, 214);
}

.images img{
    width: Auto;
    margin-bottom: 20px;

}
.images ul{
    display: block;
    list-style: none;
    margin-bottom: 15px;
    padding: 0px;

} 
 .images li{
    display:inline-block;
    font-size: 20px;
    margin: 10px 0px;
    padding: 0px;
}
.images h2{
    font-size: 35px;
}
.images li a{
    background: blue;
    color: #d7d3d3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.images .fab{
    width: 20px !important;
}

/* durgesh six */

.six{
    display: grid;
    margin: auto;
    padding: 60px 20px;
    grid-template-columns: 2fr 1fr;
    
    
}
.six_left{
    margin-bottom: 30px;

    
}
/* .contact{
    flex: 1;
    display

} */

.group{

    grid-template-columns: repeat(2,1fr);
}
.contact_lebel{
    display: flex;
    line-height:2em;
    justify-content: space-between;
    gap: 20px;
}

.contact_lebel label{
    flex: 1;
    font-weight: 600;

}
.input_box{
    display: flex;
    gap: 20px;
}
.input_box input{
    flex: 1;
    height:40px;

}
.input,textarea{
    width: 100%;

}
textarea{
    height: 100px;
}
.six_right{
    flex: 1;
    /* padding: 30px; */
    padding-left: 20px;

}

.touch{
    font-size: 20px;
    font-weight: 400;
    
    padding: 0px;
}
.touch h1{
    margin-bottom: 5%;
}
.Contact_detail{
    margin-top: 5%;
}
.Contact_detail ul,
.Contact_detail li{
    display:block;
    padding:0%;
    margin: 0%;
    line-height: 2em;
    font-size: 20px;
    font-weight: 300;
}







.third1{
    padding: 20px 0px 40px 10px;
    line-height: 4em;
}
.third1 h1{
    font-size: 4em;
    

}
.third1 h2{
    font-size: 2.5em;
    color: red;

}
.third1 p{
    font-size: 1em;

}

.brand{
    width: 200px;
    padding: 70px 0px 70px 0px;
}
footer{
    width: 100%;
    bottom: 0;
    background: rgb(194, 191, 191);
    padding: 40px ;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    

}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    
}
.col{
    flex-basis: 25%;
    padding: 10px;
    flex-direction: column;
    

}
.logo{
    width: 100px;
    margin-bottom: 30px;
}
.col h1{
    width: fit-content;
    margin-bottom: 10px;
    position: relative;
    color: black;

}

ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: black;

}
.col h2{
    width: fit-content;
    margin-bottom: 10px;
    position: relative;
    color: black;
}
.col h3{
    width: fit-content;
    margin-bottom: 10px;
    position: relative;
    color: 
    black;
}
.col h1.lebel,.col h2.lebel,.col h3.lebel{
    font-size: 20px;
}
.col a{
    display: block;
    text-decoration: none;
    color: black;
}